<h1>Hello, Noah.</h1>
<<<<<<< Updated upstream

<hr />

<div class="form">
<%= form_for(@new_comment) do |c| %>
  <div class="content">
    <%= c.text_field :content %>
    <%= c.submit %>
  </div>
<% end %>
</div>

<ul>
<% @comments.each do |comment| %>
  <li>
  <%= comment.content %>
  </li>
<% end %>
</ul>
=======
<%= link_to 'My Blog', controller: 'articles' %>
>>>>>>> Stashed changes
